NODE_ENV=development

PORT=3100

FRONTEND_URL=http://localhost:3000

NFS_SERVER_PATH=/opt/NFS-Online-Server
NFS_BRIDGE_PATH=/opt/nfs-web-bridge/nfs-account-bridge.py

TURNSTILE_SECRET_KEY=

RATE_LIMIT_TTL=3600
RATE_LIMIT_MAX=5

NFS_PROVIDER=mock
NFS_PYTHON_BIN=python3